<section class="single-post-container"></section>
{{> post-info post}}
{{> comments post.comments}}
{{#if loggedIn}}
<div class="card">

<div class="card-body post-body">
    <form class="comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
</div>
{{/if}}
</section>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}