:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
 
  --border-radius: 0.3rem;
}

wrapper {
  max-width: 1200px;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}



nav {
  display: flex;
 justify-content: flex-end;

}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
 
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.post{
  margin: 20px 0;
  border: 1px var(--secondary);
  text-align: right;
}

.post-title{
  background-color:var(--tertiary);
  padding: 15px;
  margin-top: 0;
  text-align: left;
}

.post-title a:link{
  color: var(--primary);
  text-decoration: none;
}

.post-title a:hover{
  text-decoration: none;
  color: var(--dark);
}

.post-content{
  padding: 10px !important;
  text-align: left !important;
}